#box2 {
            width: 550px;
            height: auto;
            background:#f0efef;
            margin:auto;
       border-radius: 30px 30px 30px 30px ;

        }
#signup{

    font-size: 30px;
    font-weight:bold;
    text-align: left;
    padding-left: 50px;
    width: 550px;
    height: 560px;
    margin:auto;
    border-radius: 20px 20px 20px 20px ;
}
input, textarea {

  background-color :white;

}
#submitbutton {
  background-color:#f0efef;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}
#submitbutton:hover {
  background-color: cadetblue;
  color: white;
}
